body {background-color: #c0c0c0!important;}

.container {
    color: #761b18;
    margin-top: 50px;
    width: 40%!important;
}

form {
    background: #0d3625;
    border: 2px #9ad717;
    border-radius: 10px;
    padding: 20px 10px ;
}
 #task {
     width: 60%;
     float: left;
     margin-right: 5%;
 }
